ul,li{
    list-style: none;
}

.container-fluid{
}
.row{
    background-color: lightgray;
    height: 3000px;
}
.col-lg-3{
    border-right:1px solid white;
    height: 3000px;
}
.col-lg-5{
    border-right:1px solid white;

}
.col-lg-5 .btn {
    width: 200px;
    margin: 5px 65px 20px 65px;
}
.col-lg-5 .preview{
    background-color: white;
    height: 2000px;
}
.col-lg-4{
    height: 3000px;
}
.col-lg-4 .btn{
    margin: 2px 0 0 20px;
    float: left;
}
.col-lg-3 .btn-block{
    width: 90%;
    margin-left: 8%;
}
.col-lg-4 hr{
    margin: 60px 0 0 0;
    border: 0.2px solid lightgray;
}
.panel .btn{
    float: left;
}

.col-lg-4 #editor{
    margin-top: 20px;
    height: 2000px;
    background-color: white;
}
.btn-group{
}
.panel .panel-body{
    padding: 0;
}
.txt .items{
    margin: 20px auto;
    background-color: white;
    width:100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid lightgray;
}
#menu-panel .item{
    background-color: #1c94c4;
    border: 1px solid blueviolet;
}
.box {
    width: 50%;
    height: 40px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
    background-color: #4f9fcf;
}

.box:hover{
    border: 2px solid red;
}
.boxImg{
    margin: 5px auto;
    left: 200px;
}
.boxImg:hover{
    border: 2px solid red;
}


.chooseItemChecked{
    border: 2px solid red;
}